/* Estilos Generales */
body { 
    font-family: 'Segoe UI', sans-serif; 
    padding: 0; 
    margin: 0; 
    background-color: #f3f2f1; 
}

.padding { 
    padding: 15px; 
}

/* Encabezado */
.header-fda { 
    background: #fff; 
    padding: 15px; 
    border-bottom: 2px solid #0078d4; 
}

.titulo-header {
    margin: 0;
    color: #0078d4;
    font-size: 18px;
}

.subtitulo {
    margin-top: 15px;
    margin-bottom: 5px;
    color: #333;
    font-weight: 600;
}

/* Buscador */
.contenedor-busqueda {
    background: #eff6fc; /* Azul muy clarito */
    padding: 10px; 
    border-radius: 5px; 
    margin-bottom: 15px;
    border: 1px solid #c7e0f4;
}

.label-negrita {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.boton-busqueda {
    width: auto !important; /* Sobrescribe el ancho 100% del boton normal */
    padding: 0 15px;
    font-size: 16px;
}

.mensaje-busqueda {
    font-size: 11px; 
    margin: 5px 0 0 0; 
    min-height: 15px;
}

/* Grupos y Inputs */
.grupo-input { 
    background: white; 
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #e1dfdd; 
    border-radius: 2px;
}

.caja-input { 
    width: 100%; 
    padding: 6px; 
    margin-bottom: 8px; 
    border: 1px solid #605e5c; 
    box-sizing: border-box; 
    border-radius: 2px;
}

.caja-input:focus {
    border-color: #0078d4;
    outline: none;
}

.ms-Label { 
    font-weight: 600; 
    font-size: 12px; 
    color: #323130; 
    display: block; 
    margin-bottom: 2px;
}

/* Sistema Flex (Para poner cosas lado a lado) */
.fila-flex {
    display: flex;
    gap: 5px;
    width: 100%;
}

.gap-grande {
    gap: 10px;
}

.col-70 { width: 70%; }
.col-30 { width: 30%; }

/* Botón Principal */
.boton { 
    background-color: #0078d4; 
    color: white; 
    padding: 10px; 
    width: 100%; 
    border: none; 
    cursor: pointer; 
    font-weight: bold; 
    transition: background-color 0.2s;
    border-radius: 2px;
}

.boton:hover { 
    background-color: #106ebe; 
}

/* Mensajes de Estado */
.mensaje-estado {
    color: gray; 
    font-size: 12px; 
    margin-top: 10px;
    text-align: center;
}

/* Clases de utilidad para JS (Colores de mensajes) */
.texto-exito { color: green; }
.texto-error { color: red; }